*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
*/.cxx
/app/release
/hidden-api-stub/bin
*.apk
!termux-x11-shell-loader/安卓屏连-x11.apk
*.keystore
*.jks
.vscode/
